dialog {
  text-align: center;
}

dialog div {
  margin-top: 10px;
}

.star {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('empty.svg');
  background-size: cover;
  margin: 5px;
}

.star.active {
  background-image: url('full.svg');
}
